version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - DEBUG=1
      - SECRET_KEY=foo
      - ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
      - DATABASE_NAME=ahoum_db
      - DATABASE_USER=ahoum_user
      - DATABASE_PASSWORD=ahoum_password
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=ahoum_db
      - POSTGRES_USER=ahoum_user
      - POSTGRES_PASSWORD=ahoum_password

  redis:
    image: redis:7-alpine

  celery:
    build: .
    command: celery -A core worker -l info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    environment:
      - DEBUG=1
      - SECRET_KEY=foo
      - DATABASE_NAME=ahoum_db
      - DATABASE_USER=ahoum_user
      - DATABASE_PASSWORD=ahoum_password
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  celery-beat:
    build: .
    command: celery -A core beat -l info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    environment:
       - DEBUG=1
       - SECRET_KEY=foo
       - DATABASE_NAME=ahoum_db
       - DATABASE_USER=ahoum_user
       - DATABASE_PASSWORD=ahoum_password
       - DATABASE_HOST=db
       - DATABASE_PORT=5432
       - CELERY_BROKER_URL=redis://redis:6379/0
       - CELERY_RESULT_BACKEND=redis://redis:6379/0

volumes:
  postgres_data:
